header {
    width: 100%;
  }
  
  ul {
    list-style: none;
  }
  
  /* NAV BAR */
  #nav_bar {
    float: right;
  }
  
  #nav_bar li {
    display: inline-block;
    padding: 8px;
  }
  
  #nav_bar #sign_in {
    background: #4887ef; 
    margin-right: 25px;
    padding: 7px 15px;
    border-radius: 3px; 
    font-weight: bold;
  }
  
  .nav-links {
    color: #404040;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  li.nav-links a:hover {
    text-decoration: underline;
  }
  
  #sign_in:hover { 
    box-shadow: 1px 1px 5px #999;
  }
  
  #sign_in {
    color: #fff;
  }
body{
    padding: 0;
    margin: 0;
}

.box{
    border: 0.1px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    height: 30px;
    width: 500px;
    box-shadow: 1px 1px 5px #888;
    border-radius: 40px;
}

.icons{
    width: 30px;
    height: auto;
}
.loup{
    float:left;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items:center;
}

.icons{
    width: 20px;
    height: auto;
}

.micro{
    float:right;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.input-box{
    margin-left: 15px;
    width: 420px;
    height: 25px;
    outline: none;
    background: transparent;
    border: none;
    font-size: 15px;
}

.google-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.logo{
    padding-bottom: 250px;
}

.button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn{
    margin: 150px 10px 0 0;
    font-size: 15px;
    padding: 8px 15px;
    border: none;
    color: #6e6e6e;
    border-radius: 5px;

}
.btn:hover{
    border: 1px solid #a4a4a4;
    border-radius: 5px
}
.footer{

	display: flex;
	background:#ccc;
	align-items: center; 
    justify-content: center; 
    justify-content: space-around;
    bottom: 0;
	width: 100%;
	padding-top: 50px;
	height: 50px;

}
.general{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #f8f4f4;
}